@page
@model BulkyWebRazor_Temp.Pages.Categories.CreateModel

<form asp-action="Create" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-2 row p-2">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" class="form-control" placeholder="Name of the category"/>
        </div>

        <div class="mb-2 row p-2">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" placeholder="Order value of the category"/>
        </div>     

        <div class="mb-2 row p-2">
            <div class="col-6 col-md-3 p-0">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/categories/index" class="btn btn-secondary border form-control">Back to List</a>        
            </div>            
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}